<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mntsiwake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <connectionStrings />
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <applicationSettings>
    <mntsiwake.Properties.Settings>
      <setting name="instDir" serializeAs="String">
        <value>c:\KSK_OCR\</value>
      </setting>
      <setting name="hosei" serializeAs="String">
        <value>1988</value>
      </setting>
      <setting name="gengou" serializeAs="String">
        <value>平成</value>
      </setting>
      <setting name="fmtHPath" serializeAs="String">
        <value>FMT\振替伝票3F.fmt</value>
      </setting>
      <setting name="DsnPath" serializeAs="String">
        <value>EXE\Connect.dsn</value>
      </setting>
      <setting name="xlsPath" serializeAs="String">
        <value>XLS\活字振替伝票.xls</value>
      </setting>
      <setting name="dbPWD" serializeAs="String">
        <value>sqlpass</value>
      </setting>
      <setting name="fmtSPath" serializeAs="String">
        <value>FMT\振替伝票2F.fmt</value>
      </setting>
      <setting name="wrHands_Prg" serializeAs="String">
        <value>frpMain.exe</value>
      </setting>
      <setting name="wrHands_Job" serializeAs="String">
        <value>大蔵屋商事会計</value>
      </setting>
      <setting name="wrHands_Path" serializeAs="String">
        <value>c:\Program Files (x86)\FRP</value>
      </setting>
      <setting name="OCR_Engine" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="sqlServerName" serializeAs="String">
        <value>YMGW-PC\OBCINSTANCE3X</value>
      </setting>
      <setting name="sqlUID" serializeAs="String">
        <value>fkdl</value>
      </setting>
      <setting name="sqlPWD" serializeAs="String">
        <value>sqlPass</value>
      </setting>
      <setting name="sqlCurrentDB" serializeAs="String">
        <value>obc3sresource</value>
      </setting>
      <setting name="mdbPath" serializeAs="String">
        <value>C:\KSK_OCR\EXE\kanjo2kconfig.mdb</value>
      </setting>
    </mntsiwake.Properties.Settings>
  </applicationSettings>
</configuration>
